@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;1,400&family=Cairo:wght@300;400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,700;1,800&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-dark-color: #11101d;
    --light-dark-color: #1d1b31;
    --yellow-color:#f8931f;
    --white-color: #fff;
}

/* ReUsable Code */
i {
    color: var(--yellow-color) !important;
}

a{
    text-decoration: none !important ;
    color: var(--white-color) !important;
    transition: all .3s ease;
}

a:hover {
    color: var(--yellow-color) !important;
}

h1{
    color: var(--yellow-color) !important;
}

table{
    --bs-table-bg: transparent !important;
}

th{
    opacity: .9;
    color: var(--yellow-color) !important;
    background-color: var(--light-dark-color) !important;
}



